<%- include('./partials/header.ejs') %>

<div id="sidebar">
  <label for="distance">Distance:</label>
  <input name="radius" type="number" id="radius" style="width: 30vh; margin-top: 0.5vh;" placeholder="Miles willing to travel">
  <br>
  <label for="address">Location:</label>
  <input id="address" type="text" id="address" style="width: 30vh; margin-top: 0.5vh;" placeholder="Search Events Near...">
  <br>
</div>


<div style="padding-top: 10px; margin-left:1vh">
  <label for="cars">Choose Event Type:</label>
  <select name="eventTypes" id="eventType">
    <option value="political engagement">Political Engagement</option>
    <option value="civic learning">Civic Learning</option>
    <option value="community service">Community Service</option>
    <option value="activism">Activism</option>
    <option value="funding">Funding</option>
  </select>
</div>


<input type="button" style="margin-left: 1vh; margin-bottom: 1vh;" onclick="codeAddress()" value="Enter" />
<div class="hl"></div>
<% events.forEach(function(event){ %>
    <div style="padding-top: 10px;">
    
    <div class="card" style="width: 23rem; margin-left: 15px;">
        <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= event.address %></h6>
            <p class="card-text"><%= event.description %></p>
            <a class="card-link">Event Type: <%= event.eventType %></a>
        </div>
    </div>
</div>
<% }) %>
<div class="vl"></div>

<!-- map -->
<br>

<!--The div elements for the map and message -->
<div id="map"></div>
<div id="msg"></div>

<%- include('./partials/footer.ejs') %>