<%- include('./partials/header.ejs') %>
<form class="">
    <input id="autocomplete" class="form-control mr-sm-2" type="search" placeholder="Your Location" aria-label="Search" style="width:40vh">
</form>
<div style="padding: 10px 0;">
<button class="dropbtn" style="background-color: #3e8e41; color: #EAE7B1; border-radius: 0%; padding: 20px;">Filter By:</button>
<div class="dropdown">
    <button class="dropbtn" style="padding: 20px; margin-left: 20px; margin-right: 20px">Distance</button>
    <div class="dropdown-content">
      <a href="#">5 mi</a>
      <a href="#">15 mi</a>
      <a href="#">25 mi</a>
      <a href="#">35 mi</a>
      <a href="#">50 mi+</a>
    </div>
  </div>
  
<div class="dropdown">
    <button class="dropbtn" style="padding: 20px;">Event Type</button>
    <div class="dropdown-content">
      <a href="#">Civic Learning</a>
      <a href="#">Political Engagement</a>
      <a href="#">Community Service</a>
      <a href="#">Activism</a>
      <a href="#">Funding</a>
    </div>
  </div>
</div>
<div class="hl"></div>
<% events.forEach(function(event){ %>
    <div style="padding-top: 10px;">

    
    <div class="card" style="width: 23rem; margin-left: 15px;">
        <div class="card-body">
            <h5 class="card-title"><%= event.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= event.address %></h6>
            <p class="card-text"><%= event.description %></p>
            <a class="card-link">Event Type: <%= event.eventType %></a>
        </div>
    </div>
</div>
<% }) %>
<div class="vl"></div>

<!-- map -->
<br>
<input type="text" id="radius" placeholder="miles willing to travel">
<input type="button" value="Enter" onclick="codeAddress()">
<input type="text" id="address" placeholder="Enter an address">
<input type="button" value="Enter" onclick="codeAddress()">

<!--The div elements for the map and message -->
<div id="map"></div>
<div id="msg"></div>
<script>
  var geocoder;
  var map;
  var marker;
  var circle;
function initialize() {
geocoder = new google.maps.Geocoder();
var latlng = new google.maps.LatLng(-34.397, 150.644);
var mapOptions = {
zoom: 8,
center: latlng
}
map = new google.maps.Map(document.getElementById('map'), mapOptions);
}

function codeAddress() {
var address = document.getElementById('address').value;
geocoder.geocode({'address': address}, function (results, status) {
if (status == 'OK') {
map.setCenter(results[0].geometry.location);
if (marker) {
marker.setMap(null);
}
marker = new google.maps.Marker({
map: map,
position: results[0].geometry.location
});
setCircle();
} else {
alert('Geocode was not successful for the following reason: ' + status);
}
});
}

function setCircle() {
// Get the radius size from the input field
var radius = document.getElementById('radius').value;
// Convert miles to meters
var radiusInMeters = radius * 1609.34;
// Get the center of the map
var center = map.getCenter();
if (circle) {
circle.setMap(null);
}
// Create a new circle with the desired properties
circle = new google.maps.Circle({
strokeColor: '#00FF00',
strokeOpacity: 0.8,
strokeWeight: 2,
fillColor: '#EAE7B1',
fillOpacity: 0.35,
map: map,
center: center,
radius: radiusInMeters
});
}

function initMap() {
const center = {lat: 46.392410, lng: -94.636230};
const options = {zoom: 4, scaleControl: true, center: center};
map = new google.maps.Map(
document.getElementById('map'), options);
const point1 = {lat: 46.392410, lng: -94.636230};
marker = new google.maps.Marker({
position: point1,
map: map
});
}

initialize();

// Update the center of the map to the selected place
map.setCenter(place.geometry.location);
document.getElementById('msg').innerHTML = "Distance between center and point1/p1: " + distance.toFixed(2) + " mi.";
let directionsService = newgoogle.maps.DirectionsService();
let directionsRenderer = new google.maps.DirectionsRenderer();
directionsRenderer.setMap(map);
// Create route from existing point1/p1 to center
const route = {
origin: point1/p1,
destination: center,
travelMode: 'driving'
}
directionsService.route(route,
function(response, status) {
if (status !== 'OK') {
window.alert('Directions request failed due to ' + status);
return;
} else {
directionsRenderer.setDirections(response);
var directionsData = response.routes[0].legs[0];
if (!directionsData) {
window.alert('Directions request failed');
return;
}
else {
document.getElementById('msg').innerHTML += " Driving distance is " + directionsData.distance.text + " (" + directionsData.duration.text + ").";
}
}
});
</script>
<%- include('./partials/footer.ejs') %>